{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
    body {
      background-image: url("{% static 'images/m2.jpg' %}");
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }

  </style>
</head>
<body>
<div class="background-image">
    <h1>欢迎使用工单系统</h1>
    <a href="/my/" class="checkin">点击进入</a>
  </div>
</body>
</html>