{% extends 'layout.html' %}

{% load static %}

{% block content %}
  <div class="background-image">
    <h1>欢迎使用工单系统</h1>
  </div>
{% endblock %}

{% block css %}
  <style>
    body {
      background-image: url("{% static 'images/m2.jpg' %}");
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }

    h1 {
      font-size: 4em;
      color: #2c3e50;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  </style>
{% endblock %}
